.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 160px;
  
  }
  .cardss{
    margin-top: 4px;
    margin-left: 2px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 0px;
   
  }
  .para{
    padding: 8px;
   
  }